APP_NAME=DocuMind
ENVIRONMENT=development

SECRET_KEY=
REFRESH_SECRET_KEY=

DATABASE_URL=

QDRANT_URL=
QDRANT_API_KEY=

OPENROUTER_API_KEY=
OPENROUTER_MODEL=anthropic/claude-3.5-haiku

EMBEDDING_MODEL=BAAI/bge-large-en-v1.5
RERANKER_MODEL=BAAI/bge-reranker-large